html,
body{
    margin:0;
    font-family: 'Poppins',sans-serif;
    background-color: #f5e8ba;
}
#wrapper h2{
    display: flex;
    justify-content: center;
}
h2{
    color:red;
    text-align: center;
    letter-spacing: 1px;
}
input{
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 30px;
    height: 2.5em;
    width: 250px;
}